<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896363494192-39097834asokkestivblmacivafaja1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896363494192-39097834asokkestivblmacivafaja1j</string>
	<key>API_KEY</key>
	<string>AIzaSyCrUqBKCW0Lo3e8rJ7VvxcL-d3VzA2mD9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>896363494192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCloneIntagram</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-dcb44</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-dcb44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896363494192:ios:63503a5e639f8d94cba6f5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-instagram-clone-dcb44.firebaseio.com</string>
</dict>
</plist>